.calculator {
    width: 320px;
    margin: 100px auto;
}

.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 4rem;
}

.calculator-keys button {
    height: 60px;
    font-size: 2rem!important;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.equal-sign {
    grid-column: -2 / -1;
    grid-row: 2 / span 4;
}

.all-clear {
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
}

.decimal {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}

.operator {
    background-color: #f5923e;
    color: white;
}
